# Copy this file to .env and fill in your values
# NEVER commit .env to GitHub

NEO4J_URI=neo4j+s://1a887668.databases.neo4j.io
NEO4J_USER=1a3g73b8
NEO4J_PASSWORD=t3TxyBvDEv7eGDXht8P6dwAj-XlHgV4SOUxcdNcCrHI

DATAGOV_API_KEY=579b464db66ec23bd678809975e9fb96f491a46adf04bebd8f320
OPENAI_API_KEY=your_openai_key_here

# Optional: News API (free at https://newsapi.org)
NEWSAPI_KEY=your_newsapi_key_here

# OpenSanctions API (free at opensanctions.org)
OPENSANCTIONS_API_KEY=d86bbf9c96a56vcvc208d5d4f048860282


